load the libraries

In [3]:
import tensorflow as tf
import numpy as np # linear algebra
from tensorflow.keras.models import Sequential # model type
from tensorflow.keras.layers import Dense, Dropout # dense layer, dropout layer
from tensorflow.keras.activations import relu, sigmoid # activation functions
from tensorflow.keras.optimizers import SGD # stochastic gradient descent
from tensorflow.keras.losses import binary_crossentropy # cost function
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [8]:
df = pd.read_csv('PS_20174392719_1491204439457_log.csv', nrows=1000000)
df

        step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0          1   PAYMENT   9839.64  ...            0.0        0               0
1          1   PAYMENT   1864.28  ...            0.0        0               0
2          1  TRANSFER    181.00  ...            0.0        1               0
3          1  CASH_OUT    181.00  ...            0.0        1               0
4          1   PAYMENT  11668.14  ...            0.0        0               0
...      ...       ...       ...  ...            ...      ...             ...
999995    45   PAYMENT  10913.42  ...            0.0        0               0
999996    45   PAYMENT   2014.46  ...            0.0        0               0
999997    45   PAYMENT  18839.45  ...            0.0        0               0
999998    45   PAYMENT  17890.19  ...            0.0        0               0
999999    45   PAYMENT  25411.16  ...            0.0        0               0

[1000000 rows x 11 columns]

In [6]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB